<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.group.member.MemberDAO">
	<select id="selectListMember" resultType="MemberVO">
		select * from test
	</select>
	<!-- security login -->
	<select id="getMember" parameterType="MemberVO" resultType="MemberVO">
		select id,pw
		from member
		where id=#{id}
	</select>
	
	<!-- 회원 my page   -->
	<select id="getSelect" parameterType="String" resultType="MemberVO">
		SELECT *
		FROM member
		WHERE id=#{id}
	</select>
	<!--회원가입  -->
	<insert id="setWrite" parameterType="MemberVO">
	<selectKey keyProperty="num" order="BEFORE" resultType="Integer">
		select member_seq.nextval from dual
	</selectKey>
	
	INSERT INTO member
	VALUES (
		#{num},
		#{id},
		#{pw},
		#{name},
		#{regnum},
		#{phone},
		#{email},
		#{gender},
		#{age},
		#{team},
		#{rank}
	)
	</insert>
	
</mapper>